* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Roboto, sans-serif;
  margin: 0;
  background: #f4f7fb;
  color: #253238;
}
header {
  background: linear-gradient(120deg,blue,lightblue,aqua);
  color: #fff;
  padding: 60px 20px;
  text-align: center;
  font-family: cursive;
}
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
section {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}
section h2 {
  margin-top: 0;
  color: #04AA6D;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
  padding: 24px;
  text-align: center;
  background: #e8edf4;
  font-size: 0.9rem;
  background: linear-gradient(120deg,blue,lightblue,aqua);
  color: white;
  font-family: monospace;
}
h1{
    color: yellow;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
}
p{
    text-align: center;
    color: purple;
}
.underline{
    text-decoration: underline red ;
    
}